:root {
  --c-dark: #000;
  --c-light: #fff;
  --c-white: #fff;
  --c-black: #000;
  --c-light-gray: #f8f8f8;
  --c-gray: #9c9c9c;
  --c-primary: #22c55e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: var(--c-light-gray);

  &.dark {
    --c-dark: #fff;
    --c-light: #0f0f17;
    --c-light-gray: #1a202c;
    --c-gray: #9c9c9c;
  }
}

body {
  @include ff-inter;
  color: var(--c-dark);
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  max-width: 800px;
  width: 100%;
  padding-inline: 1.25rem;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

select {
  all: unset;
}
