:root {
  --gray-light: #f8f8f8;
  --gray: #9c9c9c;
  --white: #fff;
  --black: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: var(--gray-light);
}

body {
  @include ff-inter;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  max-width: 800px;
  padding-inline: 1.25rem;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

select {
  all: unset;
}
